.text1{
    width: 350px;
    height: 160px;
}
.text1 p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
   color: #777777;
   text-align: center;
   text-transform:capitalize;
}
.text2 p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.36px;
    font-family: 'Inter', sans-serif;
    color: #001AFF;
}
.text3{
    width: 350px;
    height: 160px;
    margin-left: 80px;
}
.text3 p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: justify;
    
    color: #FF0000;
}